.color {
  background: #333;
  width: 20px;
  height: 20px;
  border: #979797 solid 1px;
  margin: 5px 4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.radio {
  display: none;
}

.active {
  display: inline-flex;
  width: 27px;
  height: 27px;
  border: #979797 solid 1px;
  margin: 1px 4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
}
.active label {
  margin: 0 3px;
  width: 18px;
  height: 18px;
  transform: translate(3%, 18%);
  -webkit-transform: translate(3%, 18%);
  -moz-transform: translate(3%, 18%);
  -ms-transform: translate(3%, 18%);
  -o-transform: translate(3%, 18%);
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
}

.hideBorder {
  border: #00000000 solid 1px;
}
